{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}

<div class="container">

    <h3>Add Student</h3>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <label>Student Number</label>
        {{ form.student_number }}
        <div class="error">{{ form.student_number.errors }}</div>

        <label>First Name</label>
        {{ form.first_name }}
        <div class="error">{{ form.first_name.errors }}</div>

        <label>Last Name</label>
        {{ form.last_name }}
        <div class="error">{{ form.last_name.errors }}</div>

        <label>Email</label>
        {{ form.email }}
        <div class="error">{{ form.email.errors }}</div>

        <label>Field of Study</label>
        {{ form.field_of_study }}
        <div class="error">{{ form.field_of_study.errors }}</div>

        <label>Enrollment Date</label>
        {{ form.enrollment_date }}
        <div class="error">{{ form.enrollment_date.errors }}</div>

        <label>CGPA</label>
        {{ form.cgpa }}
        <div class="error">{{ form.cgpa.errors }}</div>

        <button type="submit">Save</button>
    </form>
    <br>
    <a href="{% url 'student_list' %}">Back</a>

</div>

{% endblock %}